#ambassador-form {
  &,
  * {
    box-sizing: border-box;
  }
  a,
  button,
  *[role="button"] {
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
  
  h1,h2,h3,h4,h5,h6,label,input,p{
    margin: 0;
    padding: 0;
    font: inherit;
  }
}